
body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size:20px;
}

#text-box {
    min-height:4em;
    padding:8px;
    margin:4px;

    border: white;
    border-style: solid;
    border-radius: 6px;
    align-content: center; 
}
#text-box.new-content {
    border: yellow;
    border-style: solid;
}

#text-options {
    display: flex;
    flex-direction: row;
}
.option {
    padding:8px;
}
.option:hover {
    text-decoration: underline;
    color: green;
}
.option::before {
    content: "‣";
    margin-right: 4px;
}

#shared-stuff {
    display: flex;
    flex-direction: row;
}

.card {
    user-select: none;
}

.photo-card { 
    width: 20px;
    height: 40px;
    padding: 4px;
    margin: 10px;

    border: white;
    border-style: solid;
    border-radius: 6px;
}

.card[color="green"] { background-color: green; }
.card[color="red"] { background-color: red; }
.card[color="yellow"] { background-color: yellow; }
.card[color="blue"] { background-color: blue; }
.card[color="orange"] { background-color: orange; }
.card[color="purple"] { background-color: purple; }
/* MUST come after the .card[color=...] stuff so that it overrules.*/
.photo-card[face-up=false] {
    background-color: darkgray;
}
.photo-card.placeholder {
    visibility: hidden;
}


#color-grid {
    border: gray;
    border-style: solid;
    border-radius: 6px;

    display: grid;
    grid-template-columns: repeat(6, 100px);
}
#color-grid.ACTIVE {
    border: magenta;
    border-style: solid;
    border-radius: 6px;
}
#color-grid.ACTIVE > .photo-card:hover {
    border: green;
    border-style: dashed;
    background-color: white;
}

.engine-card {
    border: gray;
    border-style: solid;
    border-radius: 6px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    height: fit-content;

    margin: 4px;
    padding: 4px;
}
#engine-stock.ACTIVE > .engine-card {
    border: magenta;
    border-style: solid;
}
#engine-stock.ACTIVE > .engine-card:hover {
    border: green;
    border-style: dashed;
}

/* require engine stock to be next sibling of engine-deck */
#engine-deck:has(+ #engine-stock.ACTIVE) {
    border: magenta;
    border-style: solid;
}
#engine-deck:has(+ #engine-stock.ACTIVE):hover {
    border: green;
    border-style: dashed;
}

.engine-hand.ACTIVE > .engine-card {
    border: magenta;
    border-style: solid;
}
.engine-hand.ACTIVE > .engine-card:hover {
    border: green;
    border-style: dashed;
}
.engine-card.selected {
    border: red;
    border-style: dashed;
}

/*
.top-arrow { background-color: lightblue; }
.bot-arrow { background-color: lightgreen; }
.left-arrow { background-color: red; }
*/
.arrow[color="green"] {color: green;}
.arrow[color="blue"] {color: blue;}
.arrow[color="red"] {color: red;}
.arrow[color="yellow"] {color: yellow;}
.arrow[color="orange"] {color: orange;}
.arrow[color="purple"] {color: purple;}

.arrow {
    padding: 3px;
    font-weight: bold;
}

#player-areas {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 4px;
    padding: 4px;
}

.player-area {
    display:flex;
    flex-direction: column;
    /*align-items: center;*/

    margin: 4px;
    padding: 4px;
    border: gray;
    border-style: solid;
    border-radius: 6px;
}
.player-area.current-turn {
    border: purple;
    border-style: solid;
}

#engine-deck {
    border: gray;
    border-style: solid;
    border-radius: 6px;
    height: fit-content;
    width: fit-content;

}

#engine-stock {
    border: gray;
    border-style: solid;
    border-radius: 6px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
}

.hand {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.player-id-header {
    text-decoration: underline;
}

.engine {
    display: grid;
    place-items: center;
    gridTemplateColumns: 1fr;
    gridTemplateRows: 1fr;
    border: gray;
    border-style: solid;
}
.engine.ACTIVE {
    border: magenta;
    border-style: solid;
}

.engine-placeholder {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
}
.engine.ACTIVE.PLACING > .engine-placeholder.can-place {
    visibility: visible;
    border: white;
    border-style: solid;
}
.engine.ACTIVE.PLACING > .engine-placeholder.can-place:hover {
    visibility: visible;
    color: green;
    border: green;
    border-style:dashed; 
}
.engine.ACTIVE:not(.PLACING) > .engine-card:hover {
    visibility: visible;
    color: green;
    border: green;
    border-style:dashed; 
}
